---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <p>Últimas entradas de mi blog</p>
  <div class="blog-post">
    <div class="title">Informacion popular.</div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum pharetra ex in commodo. Pellentesque consequat, justo a porttitor sagittis, nulla mi bibendum quam, vitae aliquam augue nisl quis erat. Etiam vel commodo sapien, eget ultrices sapien. Curabitur vitae varius lorem. Proin eu fermentum ligula. Donec quam odio, rhoncus id sem eget, dictum rhoncus magna. Quisque vel urna eros. Aliquam efficitur ornare lacus quis lobortis. Vivamus tempus sem vel dui dignissim congue. Donec et risus torton.</p>

    </div>
  </div>
</BaseLayout>